
<div class="container">
<h2>Ajouter des Restaurants</h2>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address, error: "Please fill a restaurant!" %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
</div>
