<div class="container">

<h1><%= @restaurant.name %></h1>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

<p>Mon adresse : <%= @restaurant.address %></p>
<p>Mon num: <%= @restaurant.phone_number %></p>
<p>Ma catégorie: <%= @restaurant.category %></p>

<p>Reviews: <% @restaurant.reviews.each do |review| %></p>
<div>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
</div>
<% end %>


<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>

<p><%= link_to "Tous les restaurants", restaurants_path %></p>
    </div>
  </div>
</div>
